<app-titulo [titulo] = "'Eventos'"></app-titulo>
<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input type="text" class="form-control mr-2" placeholder="buscar"
      [(ngModel)]="filtroLista"
    >
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="showHideImg()">
          <i class="{{!showImg ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{showImg ? 'Ocultar' : 'Exibir'}}
        </button></th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qts Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let item of eventosFiltrados">
      <td>
        <img [collapse]="!showImg" [isAnimated]="true" src="assets/{{item.imagemURL}}" alt="" [style.width.px]="widthImg" [style.margin.px]="marginImg">
      </td>
      <td>{{item.id}}</td>
      <td>{{item.tema}}</td>
      <td>{{item.local}}</td>
      <td>{{item.dataEvento | DateTimeFormatPipe}}</td>
      <td>{{item.qtdPessoas}}</td>
      <td>{{item.lotes[0].nome}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td class="text-center" colspan="8">
        <h4>Nenhum evento encontado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar esse evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
